div.dice{
    float:left;
    width:32px;
    background:#F5F5F5;
    border:#999 1 px solid;
    padding: 10px;
    font-size:24px;
    text-align:center;
    margin:5px;
}

#makeMove, #dieControls{
	/*display: inline-block; *display: inline; */
	display: none;
	zoom: 1; vertical-align: top; font-size: 12px;
}

#controls {
	width: 350px;
}
#cluedoCanvas, #chooseChar {
	display: none;
}

button {
	vertical-align: top;
}
#div1 {

        display: none;
}

#div2 {
        display: none;
}

#div3 {
        display:none;
}

#div4 {
        display: none;
}

#div5 {
        display:none;
}

#div6 {
        display: none;
}