div.dice{
    float:left;
    width:32px;
    background:#F5F5F5;
    border:#999 1 px solid;
    padding: 10px;
    font-size:24px;
    text-align:center;
    margin:5px;
}

#makeMove,#dieControls{
	
	display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;
}